body {
    font-family: Helvetia;
}

h1 {
    color: black;
}

#trump {
      width: 20px;
      height: 20px;
}
#hand img {
      border: 0px solid black;
      position: absolute;
      width: 150px;
      height: 215px;
      z-index: 1;
}
#table img {
      border: 0px solid black;
      position: absolute;
      width: 150px;
      height: 215px;
      z-index: 1;
}
#table li {
      display: inline;
}

.namewidth{
    width: 150px;
}

.selected {}

.dealt {}   