<!DOCTYPE html>

<!--
    A simple view for the queen of spades game.
-->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Queen of Spades</title>
        <link rel="stylesheet" href="css/main.css" type="text/css"/>
    </head>
    <body>
    <h1>Queen of Spades</h1>
    
    <div id="table"></div>  
    
    <div id="demos" style='display:none'>
        Demo test: 
        <input type="button" id="demo1" value="In game"/>
        <input type="button" id="demo2" value="In selection"/> <br> 
        <input type="button" id="demo3" value="Clean table"/>  
        <input type="button" id="demo4" value="Round end"/>
        <input type="button" id="demo5" value="Game end"/>  
    </div>
    <div id='me'>User: </div>

    <div id="scorecard">
        <table><tbody>
            <tr><th></th><th>Player</th><th>Score</th></tr>
            <tr><td>1.</td><td id='player0'>Awaiting</td><td id='score0'></td></tr>
            <tr><td>2.</td><td id='player1'>Awaiting</td><td id='score1'></td></tr>
            <tr><td>3.</td><td id='player2'>Awaiting</td><td id='score2'></td></tr>
            <tr><td>4.</td><td id='player3'>Awaiting</td><td id='score3'></td></tr>
        </tbody></table>
    </div>    

    <div>
        <table><tbody>
            <tr><td colspan=2><h2>Game parameters</h2></td></tr>
            <tr><td>Trump:</td><td><img id='trump'></img></td></tr>           
            <tr><td>Stage of the game:</td><td>
                <div id='text_stage' style='display:none'></div>
                <div id='select_button' style='display:none'>
                    <input id='submit_selected' type='button' value='Click to pass on selected cards'>
                </div>
            </td></tr>
        </tbody></table>
    </div>

    <h2> Hand:</h2>
   
    <div id="hand"></div>  
    <script src='/_ah/channel/jsapi'></script>    
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/cardUrls.js"></script>
    <script type="text/javascript" src="js/game.js"></script>
    <script type="text/javascript" src="js/control.js"></script>
    <script type="text/javascript" src="js/view.js"></script>
    <script type="text/javascript" src="js/demo.js"></script>
    <script type="text/javascript">
        
        var token = '{{ token }}';
        var initial_message = {data: '{{ initial_message }}'};        
        setTimeout(initialize, 100);

    </script>    
    </body>
</html>